* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 500;
  height: 100vh;
  background-color: #db9a9a28;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
}

.guess {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.result {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
  height: 500px;
}

.h--guess {
  margin-bottom: 24px;
  font-size: xx-large;
}

.input--guess {
  /* border: #333; */
  height: 50px;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.btn--guess {
  margin-top: 12px;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px 12px;

  text-align: center;
  cursor: pointer;
}

.cow {
  display: none;
}
