* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 500;
  height: 100vh;
  background-color: #db9a9a28;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
}

.guess {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.result {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
  height: 500px;
}

.h--guess {
  margin-bottom: 24px;
  font-size: xx-large;
}

.input--guess {
  /* border: #333; */
  height: 50px;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.input--guess::-webkit-inner-spin-button,
.input--guess::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.counter--guess {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  margin-bottom: 10px;
  padding-inline: 11px;
}

.attempt--guess {
  margin-right: 10px;
}

.btn {
  margin-top: 12px;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px 12px;

  text-align: center;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.342);
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-size: 30px;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--btn {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.disabled {
  pointer-events: none;
  background-color: #3333333a;
}

.rules {
  margin-bottom: 10px;
  text-align: center;
}

.rules--1p {
  margin-bottom: 10px;
}

.rules--2p {
  margin-bottom: 10px;
}

.rules--3p {
  margin-bottom: 10px;
}
